<!DOCTYPE html>
<html lang="en">
<head>
    <title>emotiondetection</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<style>
   .button{
   padding_top=100px;}
   .button:focus:not(:focus-visible) {
     outline: none;
</style>
<body>
   <h1>FACE EMOTION DETECTION</h1>
   <h3>Click the below START button to detect your emotion</h3<b>
   <br>
   <br>
    <center>
        <form action="/predict" method="GET">
              <button class="button" type="submit"><span class="front">
                START
              </span></button>
         </form>
     </center>
</body>
</html>
